@import "../../mixins.scss";

.login-wrap {
    background-color: #f1f6fa;
    // width: 200px;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.login-form {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__section {
        &--header {
            font-family: "Arial";
            color: #323232;

            @include mobile {
                margin-bottom: 32px;
                margin-left: 16px;
            }
        }

        @include tablet {
            margin-left: 0;
        }
    }

    &__form {
        font-family: "Arial";
        &--body {
            @include mobile {
                width: 250px;
            }

            @include tablet {
                width: 400px;
            }

            @include desktop {
                width: 800px;
            }
            &__field {
                &--title {
                    color: #003a8c;
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 1rem;

                    @include desktop {
                        font-size: 20px;
                    }
                }

                &--login {
                    resize: none;
                    border: 1px solid #ffffff;
                    box-sizing: border-box;
                    border-radius: 4px;
                    background-color: #ffffff;
                    height: 48px;
                    @include mobile {
                        width: 100%;
                        margin-bottom: 24px;
                    }
                }
            }
        }

        &--options {
            display: flex;

            @include mobile {
                flex-wrap: wrap;
                justify-content: center;
            }
            @include tablet {
                flex-direction: row-reverse;
                align-items: center;

                justify-content: center;
            }

            @include desktop {
                margin-top: 0px;
            }

            &__button {
                background-color: #1890ff;
                color: #ffffff;

                border-radius: 4px;

                line-height: 24px;
                height: 48px;
                border: 0px;

                @include mobile {
                    width: 100%;
                    margin-top: 32px;
                    font-size: 16px;
                }

                @include desktop {
                    font-size: 24px;
                }
            }
        }
    }
}
